@model UrnaWeb.Models.ViewModels.VoteViewModel
@{
}


<h4>Votos</h4>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Candidate.subtitle" class="control-label"></label>
        <select asp-for="Candidate.VoteId" asp-items="@(new SelectList(Model.Candidates,"Id", "CandidateId"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Confirme" class="btn btn-success" />
    </div>
</form>